* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #00008b; 
  color: navy;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  color: white;
}

